mixin developerItem(image, name, job)
  .developer-item
    .developer-image
      img(src= image, alt="")
    h3.developer-name= name
    .developer-meta
      span.developer-job= job
      span.developer-rate
