body {
  margin: 7% auto;
  width: 600px;
  height: 400px;
  display: flex;
}

button {
  background-color: #eee;
  font-size: 18px;
}

.control {
  flex-basis: 100px;
  height: 560px;
}
.setInterval {
  margin-left: -198px;
  width: 100px;
  height: 50px;
  z-index: 1;
}

.slide-container {
  height: 560px;
  width: 400px;
  overflow: hidden;
}
.slide-container .slides {
  display: flex;
  transition: 1s all;
}
.slide-container .slides .slide {
  width: 400px;
  height: 560px;
  object-fit: cover;
}
