body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.navigation {
  width: 512px;
  height: 70px;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navigation ul {
  display: flex;
  width: 460px;
  justify-content: space-around;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: all 0.25s ease-out;
  color: var(--bg);
}
.navigation ul li.active a .icon {
  transform: translateY(-35px);
}
.navigation ul li a .text {
  position: absolute;
  color: var(--bg);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: all 0.25s ease-out;
  opacity: 0;
  user-select: none;
  transform: translateY(20px);
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.indicator {
  position: absolute;
  top: -50%;
  left: 7%;
  width: 70px;
  height: 70px;
  background-color: #29fd53;
  border-radius: 100rem;
  border: 7px solid var(--bg);
  transition: all 0.25s ease-out;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--bg);
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22.5px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--bg);
}
.navigation ul li:first-child.active ~ .indicator {
  transform: translateX(calc(70px * 0.02));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1.33));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2.64));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3.95));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 5.28));
}
@media (max-width: 31.25em) and (min-width: 25.9375em) {
  .navigation ul li:first-child.active ~ .indicator {
    transform: translateX(calc(70px * -0.012));
  }
  .navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1.25));
  }
  .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2.58));
  }
  .navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3.9));
  }
  .navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 5.22));
  }
}
@media (max-width: 25.875em) {
  .navigation {
    width: 412px;
  }
  .navigation ul li:first-child.active ~ .indicator {
    transform: translateX(calc(70px * -0.3));
  }
  .navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 0.881));
  }
  .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2.05));
  }
  .navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3.2));
  }
  .navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4.4));
  }
}
@media (max-width: 23.4375em) {
  .navigation {
    width: 360px;
  }
  .navigation ul li:first-child.active ~ .indicator {
    transform: translateX(calc(70px * -0.32));
  }
  .navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 0.7));
  }
  .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 1.75));
  }
  .navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 2.75));
  }
  .navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 3.81));
  }
}
